<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center;">

        <div class="sidenav">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a routerLink="/compA">Registration</a>&nbsp;
            <a routerLink="/compB">Login</a>&nbsp;
            <a routerLink="/compC">Risk Management</a>

        </div>
        <div class="navbar" style="background-color:black;width:100%;height: 6  0px;top:0">
            <h1 style="color: azure">Farmer's Portal</h1>
        </div>

</div>


<router-outlet></router-outlet>
<div class="footer" style="text-align: center">

        <img src="../assets/Images/bird.png" alt="twitter" width="40" height="40">
        <p appTweet>"No Bank Holidays on a Farm! Fencing day in carlow   -Paul Grogan"</p>

    </div>
